/* Reset */
body, p, dl, dd {
  margin: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: unset;
  text-decoration: inherit;
}

ul {
  margin: unset;
  padding: unset;
  list-style: none;
}

strong {
  font-weight: inherit;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid blue;
}

form, input, fieldset {
  all: unset;
  display: block;
}

input {

}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

/* Typography */
:root {
  font-size: 10px;
}

body {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
}

/* Variables */
:root {
  --color-primary: #D55C34;
  --color-main-bg: #FBF4E8;
  --black28: #282828;
  --brown52: #524530;
  --blackAA: #AAA;
  --beigeE5: #E5DBC9;
  --beigeF9: #F9F8F2;
  /* background-color: #F9F8F2; 푸터 배경색 */ 
  /* background-color: #B6D98F; */
  /* background-color: #39A4D6; */
  /* background-color: #FFF2A4; */
  /* background-color: #D9CCE5; */
  /* background-color: #2A7A56; */
  --header-height: 81px;
}


/* Layouts */
.l_row {
  display: flex;
  flex-flow: row wrap;
}


/* Commons */
.sr_only {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1em;
  max-width: 100%;
  border: 1px solid #4169e1;
  text-align: center;
  font-size: 16px;
}

.button.button_block {
  display: block;
  width: 100%;
}

.button.button_blue {
  background-color: #4169e1;
  color: #fff;
}

.button.button_white {
  border-color: #b0c4de;
  color: #4169e2;
  background-color: #f8f8ff;
}

.button.button_medium {
  border-radius: 2.25em;
  line-height: 2.25em;
  font-size: 16px;
}

.button.button_small {
  border-radius: 1.85em;
  line-height: 1.85em;
  font-size: 14px;
}

.font_en {
  font-family: "Montserrat", sans-serif;
}