body {
  background-color: #FFF2A4;
  background-color: #D9CCE5;
  background-color: #39A4D6;
  background-color: #2A7A56;
  background-color: var(--color-main-bg);
  background-color: #B6D98F; /* 임시배경 */
}

body.hidden,
body.dimmed {
  overflow: hidden;
} 

body.dimmed::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /* cursor: url(/assets/images/ico_search.png) 28 28, auto; */
}

/* 헤더 - header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-main-bg);
  color: var(--brown52);
  transition: all 0.3s;
  z-index: 100;
}

.header.is_active {
  transform: translateY(-100%);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.header-logo {
  flex-basis: 14vw;
  flex-shrink: 0;
}

.header-logo a {
  display: block;
  padding: 0 1rem;
  width: fit-content;
}

.header-logo img {
  min-width: 120px;
  max-width: 120px;
}

.pcMenu {
  flex-grow: 1;
  position: relative;
}

.pcMenu .gnb-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

.pcMenu .gnb-link {
  display: block;
  padding: 10px 1.4vw;
}

.pcMenu .authMenu {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  font-size: 14px;
}

.pcMenu .authMenu-list {
  display: flex;
  align-items: center;
}

.pcMenu .authMenu-item {
  flex-shrink: 0;
}

.pcMenu .authMenu-link {
  display: block;
  padding: 10px 0.4vw;
}

.mobileMenu {
  overflow: auto;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: fixed;
  inset: 0;
  transform: translateX(-100%);
  padding: 40px;
  min-height: 50vh;
  background-color: #fff;
  z-index: 100;
}

.mobileMenu.is_active {
  display: flex;
}

.mobileMenu .gnb-list {
  display: flex;
  flex-flow: column nowrap;
}

.mobileMenu .gnb-link {
  padding: 4px 10px;
  font-weight: 600;
  font-size: 34px;
}

.mobileMenu .authMenu-link {
  display: inline-block;
  padding: 4px 10px;
  font-size: 20px;
}

.mobileMenu .gnb-link,
.mobileMenu .authMenu-link {
  display: inline-block;
  --border-bottom: scale(0);
}

.mobileMenu .gnb-link::after,
.mobileMenu .authMenu-link::after {
  content: '';
  display: block;
  transform: var(--border-bottom);
  transform-origin: 0 0;
  height: 1px;
  background-color: currentColor;
}

.mainMenu-close {
  display: block;
  position: absolute;
  top: 30px;
  right: 44px;
  padding: 10px 2px;
  width: 30px;
  height: 6px;
}

.mainMenu-close::before,
.mainMenu-close::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.mainMenu-close::before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.mainMenu-close::after {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}

.siteControls {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.siteControls > * {
  margin: 0 4px;
  padding: 2px 4px;
}

.siteControls .storeLink {
  height: 24px;
}

.siteControls .storeLink svg {
  height: inherit;
  fill: var(--color-primary);
}

.siteControls .search {
  display: flex;
  align-items: center;
}

.siteControls .search-open {
  width: 28px;
  height: 28px;
  background-image: url(/assets/images/ico_search.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  background-color: #fff;
  color: var(--black28);
  z-index: 300;
}

.search-box.is_active {
  display: block;
}

.search-form .search-inputGroup {
  display: flex;
  align-items: center;
  padding: 20px;
}

.search-form .search-input {
  flex-grow: 1;
  font-weight: 500;
  font-size: 26px;
}

.search-form .search-button {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(/assets/images/ico_search.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form .search-close {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-right: 34px;
}

.search-form .search-close svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--color-primary);
}

.search-box .search-input::placeholder {
  color: var(--blackAA);
}

.search-box .recommendedCategory {
  padding: 20px;
  font-size: 18px;
}

.search-box .recommendedCategory-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}

.search-box .recommendedCategory-title {
  margin: 10px 0;
  font-size: 14px;
}

.mainMenu-open {
  display: none;
  position: relative;
  padding: 10px 2px;
  width: 30px;
  height: 6px;
}

.mainMenu-open::before,
.mainMenu-open::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

.mainMenu-open::before {
  top: 8px;
}

.mainMenu-open::after {
  bottom: 8px;
}


/* 메인 - main */
.main {
  position: relative;
  padding-top: 80px;
  min-height: 100vh;
  font-size: 30px;
  transition: all 0.3s;
}

.main.is_active {
  transform: translateY(calc(-1 * var(--header-height)));
}

/* 푸터 - footer */
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--beigeF9);
  color: var(--black28);
}

.footer-inner {
  display: flex;
  position: relative;
  padding: 40px 12vw 40px 10vw;
}

.footer-logo {
  position: absolute;
  left: 2vw;
  top: 50%;
  transform: rotate(270deg);
}

.footer-logo a {
  display: block;
}

.footer-logo img {
  width: 10rem;
}

.footer-contents {
  display: flex;
  gap: 4vw;
}

.footer-section-title {
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
  font-size: 14px;
  font-weight: bold;
}

.footer-menu-link {
  display: block;
  padding: 6px 10px;
  font-size: 16px;
}

.csCenter-item {
  padding: 4px 10px;
  font-size: 14px;
}

.csCenter-phone {
  display: block;
  margin-bottom: 10px;
  padding: 2px 10px;
  font-size: 22px;
  font-weight: bold;
}

.sns-list {
  display: flex;
}

.sns-list a {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sns-list svg {
  width: 24px;
  height: 24px;
  fill: rgba(0 0 0 / 0.7);
}

.bankInfo-item {
  padding: 4px 10px;
  font-size: 14px;
}

.footer-info {
  flex-shrink: 0;
  margin-left: auto;
  font-size: 13px;
}

.footer-info .companyName {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.footer-info .companyInfo dl {
  display: inline-flex;
  align-items: center;
  margin: 6px 0;
}

.footer-info .companyInfo dl + dl::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 0 8px -1px 4px;
  background-color: var(--black28);
}

.footer-info .companyInfo dt::after {
  content: ':';
  position: relative;
  top: -2px;
  margin: 0 4px;
}

.footer-info .copyright {
  margin: 20px 0;
  color: rgba(0 0 0 / 0.5);
  font-size: 12px;
}

.footer-siteLink-list {
  display: flex;
  align-items: center;
  padding: 26px 12vw 26px 10vw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.footer-siteLink-item {
  position: relative;
  padding: 10px;
}


/* 테블릿 -tablet 1400px */
@media (max-width: 1400px) {
  .footer-logo {
    position: unset;
    top: 0;
    left: 0;
    transform: rotate(0);
    margin-bottom: 40px;
  }

  .footer-inner {
    flex-flow: column wrap;
    padding-top: 60px;
  }

  .footer-info {
    margin-left: 0;
    margin-top: 60px;
    padding: 10px;
  }

  .footer-logo a {
    display: inline-block;
    padding: 10px;
  }
}


/* 테블릿 -tablet 1280px */
@media (max-width: 1280px) {
  /* 테블릿 헤더 */
  .header-logo {
    flex-basis: 18vw;
  }

  .pcMenu .authMenu {
    display: none;
  }

  .mainMenu-open {
    display: block;
  }

  .mobileMenu .authMenu .authMenu-list {
    flex-flow: column nowrap;
    align-items: start;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    font-size: 20px;
  }

  .search-box {
    bottom: 0;
  }
}


/* 모바일 -mobile */
@media (max-width: 960px) {
  /* 모바일 헤더 */
  .header-inner {
    padding: 1rem 3.4rem;
  }

  .pcMenu {
    display: none;
  }

  /* 모바일 푸터 */
  .footer-contents {
    flex-flow: column wrap;
    gap: 60px;
  }
}